<div ng-app="rps">
    <div ng-controller="game-controller">
        <gameboard></gameboard>
    </div>
</div>
@section scripts {
    <script>
        window.gameid = @ViewBag.GameID;
    </script>
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/underscore")
    @Scripts.Render("~/bundles/game")
}


