body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.gameboard {
    border-collapse: collapse;
}

.gameboard-cell {
    width:80px; 
    height: 80px; 
    border: 1px solid black; 
    text-align: center; 
    vertical-align: middle;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gameboard-cell-selectable {
    cursor: pointer;
    background-color: whitesmoke;
}

.gameboard-cell-player {
    cursor: pointer;
    background-color: whitesmoke;
}

.gameboard-cell-selectable {
    cursor: pointer;
    background-color: yellow;
}

.gameboard-cell-active {
    cursor: pointer;
    background-color: lightgreen;
}

gameboard-cell-other {
    background-color: palevioletred;
}